* {
    font-family: 'Space Mono', monospace;
}
h1 {
    color: white;
}
.px-6 {
    padding-left: 10%;
    padding-right: 10%
}
/* this creates a slight accessibilty problem but I cant figure out how to disable the click focus without this */
.navbar-toggler:focus {
    box-shadow: none;
}