{{ define "content" }}
<div class="container">
    <h1 class="text-center fw-medium mb-5 mt-6">Resources</h1>
    <div class="container general-info">
        <div class="general-info-header">
            <div class="square" id="white"></div>
            <h2>General Info</h2>
        </div>
        <div class="general-info-info">
            <div class="info">
                <h1>Project Location</h1>
                <p>Polygon Network</p>
            </div>
            <div class="info">
                <h1>Max Supply</h1>
                <p>10 Million</p>
            </div>
            <div class="info">
                <h1>Cost Per NFT</h1>
                <p>.33 Matic</p>
            </div>
            <div class="info">
                <h1>Project Launch</h1>
                <p>May 8th, 2023 @ 3PM EST</p>
            </div>
        </div>
    </div>
    <div class="container official-links">
        <div class="official-links-header">
            <img src="/images/shield.svg" alt="Shield">
            <h2>Official Links</h2>
        </div>
        <div class="official-links-info">
            <img src="/images/clipboard.svg" alt="Clipboard">
            <p>Click links to copy</p>
        </div>
        <div class="official-links-links" >
            <div class="link">
                <p>Website</p>
                <h1>https://pxlsnft.com/</h1>
            </div>
            <div class="link">
                <p>Twitter</p>
                <h1>https://twitter.com/pxlsnft</h1>
            </div>
            <div class="link">
                <p>Discord</p>
                <h1>https://discord.gg/6t7Ws9ZRTz</h1>
            </div>
            <!-- <div class="link">
                <p>Opensea</p>
                <h1>https://opensea.io/collection/pxlsnft</h1>
            </div> -->
            <div class="link">
                <p>Instagram</p>
                <h1>https://www.instagram.com/pxlsnft/</h1>
            </div>
            <!-- <div class="link">
                <p>Contract</p>
                <h1>0x0D85c9727ef46817a8F01193c5778deCCF44df81</h1>
            </div>
            <div class="link">
                <p>Polygonscan</p>
                <h1>https://polygonscan.com/address/0x0d85c9727ef46817a8f01193c5778deccf44df81</h1>
            </div> -->
        </div>
    </div>
    <div class="container nft-metadata">
        <h2>{...} NFT Metadata</h2>
        <div class="nft-metadata-info">
            <img src="/images/info.svg" alt="Info">
            <p>Permanent Pixels NFT metadata includes the following variables: description, name, random seed, skew, rarity and image. Below is a breakdown of the different variables.</p>
        </div>
        <div class="nft-metadata-info">
            <img src="/images/lock.svg" alt="Info">
            <p>Metadata is created and stored 100% on-chain. It cannot be edited once it has been created. The Permanent Pixels team has no power to decide metadata values that depend on randomness, such as the rartiy value.</p>
        </div>
        <div class="nft-metadata-table">
            <div class="nft-metadata-table-item">
                <p class="header">Description</p>
                <p class="description">The description contains a short summary of the NFTs: "Perfectly random, black and white images, with a resolution of 2500 pixels."</p>
            </div>
            <div class="nft-metadata-table-item">
                <p class="header">Name</p>
                <p class="description">"Permanent Pixel" followed by the NFT token number.</p>
            </div>
            <div class="nft-metadata-table-item">
                <p class="header">Random Seed</p>
                <p class="description">Number used to determine image expression. Recorded by the Permanent Pixels team to screen for extremely rare duplicates.</p>
            </div>
            <div class="nft-metadata-table-item">
                <p class="header">Skew</p>
                <p class="description">A black skew indicates that a NFT has more black pixels than white in the image and vice versa. If the skew has a "none" value, there is an equal number of black and white pixels in the image.</p>
            </div>
            <div class="nft-metadata-table-item">
                <p class="header">Rarity</p>
                <p class="description">A number between 0 and 1250. The higher the number, the more rare a NFT is. The difficulty of getting a high rarity number increases on an exponential scale.</p>
            </div>
            <div class="nft-metadata-table-item">
                <p class="header">Image</p>
                <p class="description">The on-chain SVG image data.</p>
            </div>
        </div>
    </div>
    <div class="container project-team">
        <h2>Project Team</h2>
        <div class="team-members">
            <div class="member">
                <img src="/images/ben-avatar.png" alt="Ben avatar">
                <div class="member-description">
                    <div class="member-overview">
                        <h1>Ben</h1>
                        <p class="highlight">Project Owner</p>
                    </div>
                    <div class="member-details">
                        <p class="specialty">Specialty</p>
                        <p class="specialty-description">UX Research & Design</p>
                    </div>
                </div>
            </div>
            <div class="member">
                <img src="/images/nico-avatar.png" alt="Nico avatar">
                <div class="member-description">
                    <div class="member-overview">
                        <h1>Nico</h1>
                        <p class="highlight">Project Owner</p>
                    </div>
                    <div class="member-details">
                        <p class="specialty">Specialty</p>
                        <p class="specialty-description">Computer Science</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container questions-comments mb-5">
        <h2>Questions? Comments?</h2>
        <p>Please contact our team through Twitter or Discord.</p>
    </div>
</div>

{{ end }}