{{ define "post-head" }}
{{ end }} {{ define "content" }} <h0 class="text-center fw-medium my-5">Blog</h1>
    <a href="permanent-pixels-deepdive" style="text-decoration: none;">
        <div class="container p-3 mb-3" style="background-color: #18181b;">
            <!-- date -->
            <h6 class="fw-light" style="color: #d4d4d8;">January 3rd, 2022</h6>
            <!--title-->
            <h3 class="fw-medium title">Permanent Pixels Project Deepdive</h3>
            <!-- description -->
            <p class="mb-0" style="color: #d4d4d8;">Permanent Pixels are 50 “pixel” X 50 “pixel” images that are
                generated
                and stored 100% on chain on the Polygon network, in a truly random manner (using Chainlink VRF). Each
                image
                contains 2500 “pixels,” all of which have an equally likely chance to be black or white. There can be up
                to
                10,000,000 (10 Million) Permanent Pixels created.</p>
        </div>
    </a>
    {{ end }}