{{ define "content" }}
<h1 class="text-center fw-medium my-5">About</h1>
<h2 class="fw-medium mt-5">Overview</h2>
<p>Permanent Pixels are 50 “pixel” X 50 “pixel” images that are generated and stored 100% on chain on the
    Polygon network, in a truly random manner (using Chainlink VRF). Each image contains 2500 “pixels,” all of
    which have an equally likely chance to be black or white. There can be up to 10,000,000 (10 Million)
    Permanent Pixels created.</p>
<img src="./images/typewriter2.png" class="mx-auto d-block my-5" alt="Infinite Monkey Theory Typewriter"
    style="width: 450px; height: auto;">
<h2 class="fw-medium mt-5">Infinite Ape Theory</h2>
<p>The Permanent Pixels Project is based on a child theory of the Infinite Monkey theory we have named the
    Infinite Ape Theory:</p>
<p class="fst-italic">Randomly changing the color of pixels in an image, an infinite number of times, will
    eventually result in visually significant creations.</p>
<h2 class="fw-medium mt-5">The NFT</h2>
<h4 class="mt-3">Subjective Rarity</h4>
<p>The most rare Permanent Pixels will be the ones that validate the Infinite Ape Theory. These NFTs will have
    some type of visual significance. This measure is too subjective to capture in the NFT's metadata, and
    visually significant Permanent Pixels will be extremely, extremely rare.</p>
<h4 class="mt-4">Objective Rarity</h4>
<p>Since there is an equally likely chance that each of the 2500 pixels in every NFT will be either black or
    white, it can be assumed that the “average” NFT will have 1250 black and 1250 white pixels. The further the
    number of black and white pixels in an NFT deviates from the “average,” the more rare it is. This measure of
    mathematical rarity is included in the metadata for every NFT.</p>
<div class="container d-flex justify-content-center align-items-center my-5">
    <img src="./images/pixel-grid.svg" class="mx-auto d-block" alt="Pixel grid" style="width: 30%;height: auto;">
    <img src="./images/arrow.svg" class="mx-auto d-block" alt="Arrow pointing right" style="width: 10%;height: auto;">
    <img src="./images/example.svg" class="mx-auto d-block" alt="Example Permanent Pixel"
        style="width: 30%;height: auto;">
</div>
<h2 class="fw-medium mt-5">Technology</h2>
<h4 class="mt-3">On-Chain</h4>
<p>Permanent Pixels are stored and created 100% on the blockchain. None of the NFTs are created in advance of
    the project launch: NFTs are created when they are minted. Permanent Pixels are truly “permanent” because
    all of their data is stored on the blockchain — not “off-chain” in a location where the data could be edited
    or deleted in the future. Fully on-chain projects like Permanent Pixels are extremely difficult to create
    and are in the rare minority of NFT projects.</p>
<h4 class="mt-4">Truly Random</h4>
<p>Every time a Permanent Pixel NFT is created, it uses a random number as its seed. It is possible to generate
    pseudo random numbers on the blockchain, but it is very difficult to generate truly random numbers on the
    blockchain. Currently, the only solution to this problem is to use Chainlink VRF (Verifiable Random
    Function) technology. Chainlink VRF has been integrated into the Permanent Pixels project to ensure that the
    random numbers used to create the NFTs cannot be predicted. Similar to fully on-chain projects, the VRF is
    another technology that is difficult to implement and rare to see in NFT projects.</p>
<h4 class="mt-4">Polygon Network</h4>
<p>Permanent Pixels live on the Polygon network instead of the Ethereum network, making their cost to mint a
    fraction of the cost they would be on the Ethereum network.</p>
<h4 class="mt-4">Optimized</h4>
<p>On-chain NFTs can be extremely expensive to mint in comparison to off-chain projects. Off-chain projects
    typically only write one line of code to the blockchain, whereas on-chain project mint multiple lines of
    code to the blockchain. The more data written to the chain, the more expensive it is to mint an NFT.
    However, the amount of data written to the chain during the minting process for Permanent Pixels has been
    reduced from 2500+ lines of code, to just 1. Permanent Pixels are 100% on-chain, but write the same amount
    of data to the chain as off-chain projects do.</p>
<a href="https://pxlsnft.medium.com/permanent-pixels-nft-collection-deep-dive-b5058ea72676" target="_blank">
    <h5 class="my-5 text-decoration-underline text-center">To learn more about the project, please click here to
        read our “Deep Dive” article.</h5>
</a>
</div>
{{ end }}