{{ define "content"}}
<div class="mintdiv container">
    <div class="mint">
        <h1>Mint</h1>
        <div class="mint-container">
            <div class="mint-amount">
                <h1>0</h1>
                <h1 id="max-mint">/ 1000</h1>
            </div>
            <div class="mint-cost">
                <p>0 Matic</p>
            </div>
        </div>
        <div class="mint-button">
            <h1>Coming Soon</h1>
        </div>
    </div>
</div>
<!-- <div class="container" style="height: 100vh; width: 100vw;background-color: blue;">look ehre</div> -->
{{ end }}