{{ define "content"}}
<div class="mintdiv container">
    <div class="mint">
        <h1>Mint</h1>
        <div class="mint-container">
            <div class="mint-amount">
                <h1>0</h1>
                <h1 id="max-mint">/ 1000</h1>
            </div>
            <div class="mint-cost">
                <p>0 Matic</p>
            </div>
        </div>
        <div class="mint-button">
            <h1>Coming Soon</h1>
        </div>
    </div>
</div>
<div class="mint-info-anchor container-fluid">
    <div class="container mint-info-container">
        <div class="container" style="width: 100%; display: flex; align-items: flex-start;">
            <img id="mint-info-toggle" src="/images/chevron-down.svg" alt="Arrow">
        </div>
        <div class="mint-info-top">
            <div class="mint-info">
                <h1>Total Minted</h1>
                <p>0 / 10M</p>
            </div>
        </div>
        <div class="mint-info-bottom" style="padding-top: 1rem" >
            <div class="mint-info">
                <h1>Cost per NFT</h1>
                <p>.33 Matic</p>
            </div>
            <div class="mint-info">
                <h1>Creator Fee</h1>
                <p>0%</p>
            </div>
        </div>
    </div>
    <script src="/js/mint-toggle.js"></script>
</div>
{{ end }}