{{ define "append-head" }}
<style>
    .index-body {
        background-image: var(--background-image);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{{ end }}

{{ define "content" }}
<div class="indexdiv container">
    <div>
        <p id="index-title">Permanent Pixels NFT</p>
        <p id="index-header">Next generation digital art</p>
        <p id="index-body">Minting May 8th, 2023 @ 3PM EST</p>
        <div class="index-buttons">
            <a href="/mint/">Mint</a>
            <a href="/blog/about-permanent-pixels/">About</a>
        </div>
    </div>
    <img src="./images/example.svg" alt="Example Permanent Pixel">
</div>
{{ end }}